
%section.w-full.flex.flex-column.justify-center.u-align-center
  
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email",class: "w-full"
    .field
      = f.label :password
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} characters minimum)
      %br/
      = f.password_field :password, autocomplete: "new-password",class: "w-full"
    .w-full
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password",class: "w-full"
    %div{ class: "w-full text-center my-2"}
      .actions.p-2.bg-white.border-2.border-blue-600.rounded-md.hover:bg-blue-600.hover:text-white.cursor-pointer
        = f.submit "Sign up"
  
    = render "devise/shared/links"
